agent-stats.json
[{"id":"cd8ac7d8.b244a8","type":"tab","label":"MIMIC Agent Statistics","disabled":false,"info":""},{"id":"70a56d1f.cd94a4","type":"ServerURL","z":"cd8ac7d8.b244a8","name":"http://localhost:8080","x":820,"y":220,"wires":[[]]},{"id":"6402134f.00b0bc","type":"trigger","z":"cd8ac7d8.b244a8","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"-1","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":680,"y":460,"wires":[["b5d7c5e7.6cadb8"]]},{"id":"2a2ec085.af093","type":"function","z":"cd8ac7d8.b244a8","name":"Apply filter to active list","func":"var range = flow.get(\"agents\") || [];\n\nmsg.payload.forEach(function(element) {\n if(flow.get(\"stopped\") === true) {\n return;\n }\n // check if agent is in selected range.\n var found = true;\n if(range.length > 0) {\n found = false;\n \tfor (var i = 0; i < range.length; i++) { \n \t\tif(range[i] === element) {\n\t \t\tfound = true;\n\t \t\tbreak;\n \t\t}\n \t}\n }\n if(found === true) {\n var m = {\"payload\":{\"agentNo\":element}};\n var v = flow.get(\"agent\"+element);\n // node.warn(\"v is \" + v);\n if(typeof v === 'undefined') {\n flow.set(\"agent\"+element, 0)\n flow.set(\"time\"+element, Math.round(new Date().getTime()/1000));\n // node.warn(\"***\" + element);\n }\n // console.log(m);\n node.send(m);\n }\n});\n\nflow.set(\"active\", false);\n//node.warn(\">>>>>> set inactive\");\n","outputs":1,"noerr":0,"x":660,"y":620,"wires":[["107a7c92.dff243"]]},{"id":"7e17db44.56c644","type":"mimic","z":"cd8ac7d8.b244a8","name":"mimic_get_active_list","api":"mimic_get_active_list","arg0":"","arg1":"","arg2":"","arg3":"","arg4":"","arg5":"","arg6":"","arg7":"","arg8":"","arg9":"","x":400,"y":620,"wires":[["2a2ec085.af093","c5d132e9.0aa1b"]]},{"id":"77ce3739.caebd8","type":"debug","z":"cd8ac7d8.b244a8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"time","x":720,"y":760,"wires":[]},{"id":"c5d132e9.0aa1b","type":"debug","z":"cd8ac7d8.b244a8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":610,"y":560,"wires":[]},{"id":"107a7c92.dff243","type":"agent","z":"cd8ac7d8.b244a8","name":"mimic_agent_get_statistics","api":"mimic_agent_get_statistics","arg0":"","arg1":"","arg2":"","arg3":"","arg4":"","arg5":"","arg6":"","arg7":"","arg8":"","arg9":"","x":200,"y":820,"wires":[["b2c802a8.fb588","59120212.8e856c"]]},{"id":"47312f66.b01d2","type":"ui_chart","z":"cd8ac7d8.b244a8","name":"","group":"46a46484.6e799c","order":5,"width":0,"height":0,"label":"Total PDUs/sec","chartType":"line","legend":"true","xformat":"hh:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"-1","ymax":"","removeOlder":"2.5","removeOlderPoints":"30","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":740,"y":820,"wires":[[],[]]},{"id":"b2c802a8.fb588","type":"function","z":"cd8ac7d8.b244a8","name":"Calcumate PDUs/secd","func":"var m = {};\n\n// get delta PDUs\nvar v = msg.payload[0]; \n//var v = Math.round(Math.random()*100) + flow.get(\"agent\"+msg.inputs.agentNo);\nvar d = v - flow.get(\"agent\"+msg.inputs.agentNo);\nflow.set(\"agent\"+msg.inputs.agentNo, v);\n\n// get delta time\nvar t = Math.round((new Date().getTime()/1000));\nvar pt = flow.get(\"time\"+msg.inputs.agentNo);\n//node.warn(\"\" + msg.inputs.agentNo + \" t = \" + t + \" pt = \" + pt);\nvar dt = t - pt;\nflow.set(\"time\"+msg.inputs.agentNo, t);\n\n//node.warn(\"\" + msg.inputs.agentNo + \" dt = \" + dt);\nm.payload = (d/dt).toFixed(2);\nm.topic = \"agent\"+msg.inputs.agentNo;\n\nif(flow.get(\"stopped\") === false) {\n return m;\n}","outputs":1,"noerr":0,"x":480,"y":820,"wires":[["77ce3739.caebd8","47312f66.b01d2"]]},{"id":"59120212.8e856c","type":"debug","z":"cd8ac7d8.b244a8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":430,"y":760,"wires":[]},{"id":"c1d4fd7d.fe6c5","type":"comment","z":"cd8ac7d8.b244a8","name":"Main flow","info":"","x":100,"y":460,"wires":[]},{"id":"b2fe7749.c6b978","type":"comment","z":"cd8ac7d8.b244a8","name":"Get active list and apply range filter","info":"","x":400,"y":660,"wires":[]},{"id":"bba46e15.6c293","type":"comment","z":"cd8ac7d8.b244a8","name":"Calculate stats per second","info":"","x":330,"y":860,"wires":[]},{"id":"9725f0ba.79028","type":"ui_button","z":"cd8ac7d8.b244a8","name":"","group":"46a46484.6e799c","order":6,"width":"20","height":"1","passthru":false,"label":"Reset Chart","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"str","topic":"","x":110,"y":960,"wires":[["3d134221.f0280e"]]},{"id":"3d134221.f0280e","type":"function","z":"cd8ac7d8.b244a8","name":"Reset Chart","func":"var r = {};\nr.payload = [];\nreturn r;","outputs":1,"noerr":0,"x":290,"y":960,"wires":[["47312f66.b01d2"]]},{"id":"fda33b65.f99f68","type":"comment","z":"cd8ac7d8.b244a8","name":"Reset and Redraw Chart","info":"","x":150,"y":920,"wires":[]},{"id":"b5d7c5e7.6cadb8","type":"function","z":"cd8ac7d8.b244a8","name":"Wait till active","func":"var elapsed = flow.get(\"elapsed\");\nif(typeof elapsed === 'undefined') {\n elapsed = 4;\n}\n\nelapsed += 1;\n\nvar a = flow.get(\"active\");\nif(typeof a == 'undefined') {\n a = false;\n}\n\nif(elapsed > 4 && a === false) {\n flow.set(\"elapsed\", 0);\n flow.set(\"active\", true);\n // node.warn(\"<<<<< set active\");\n return msg;\n}\n\nflow.set(\"elapsed\", elapsed);\n","outputs":1,"noerr":0,"x":170,"y":620,"wires":[["7e17db44.56c644"]]},{"id":"5cdf23f9.7e900c","type":"function","z":"cd8ac7d8.b244a8","name":"Init","func":"flow.set(\"active\", false);\nflow.set(\"stopped\", false);\nmsg.payload = [];\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":460,"wires":[["6402134f.00b0bc","47312f66.b01d2"]]},{"id":"a66999c1.4963b8","type":"function","z":"cd8ac7d8.b244a8","name":"Set Agent Range","func":"function addNumber(expanded, num) {\n\tif (isNaN(num))\n\t\treturn;\n\t\n\tfor (var i = 0; i < expanded.length; i++) {\n\t\tif(expanded[i] === num)\n\t\t\treturn;\n\t}\n\texpanded.push(num);\n}\n\nfunction expandRange(range) {\n\tvar expanded = [];\n\n\tvar tmp = range.replace(/[^0-9-,]/g, '');\n\tif (tmp === \"\") {\n\t\treturn expanded;\n\t}\n\t\n\t// expand agent numbers to full list\n\ttmp = tmp.split(\",\");\n\n\ttry {\n\t\tfor(var i = 0; i < tmp.length; i++) {\n\t\t\t// print(\"Part \" + tmp[i]);\n\t\t\tvar parts = tmp[i].split(\"-\");\n\t\t\ts = parseInt(parts[0]);\n\t\t\taddNumber(expanded, s)\n\t\t\tif(parts.length > 1) {\n\t\t\t\tl = parseInt(parts[1]);\n\t\t\t\tif( l < s ) {\n\t\t\t\t msg.payload = \"Invalid range : \" + tmp[i];\n\t\t\t\t\tnode.send(msg);\n\t\t\t\t\treturn;\n\t\t\t\t}\n\t\t\t\ts += 1;\n\t\t\t\t\n\t\t\t\twhile(s <= l) {\n\t\t\t\t\taddNumber(expanded, s);\n\t\t\t\t\ts += 1;\n\t\t\t\t}\n\t\t\t}\n\t\t}\n\t} catch (e) {\n\t msg.payload = \"Invalid range \" + range; \n\t\tnode.send(msg);\n\t\treturn;\n\t}\n\treturn expanded;\n}\n\nvar range = msg.payload || \"\";\n\nif(range !== \"\") {\n var t = expandRange(range);\n \n if(typeof t !== 'undefined') {\n flow.set(\"agents\", t);\n flow.set(\"reset\", true);\n }\n \n msg.payload = \"Range set to \" + range + \" expanded as \" + t;\n} else {\n msg.payload = \"Range not set\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":100,"wires":[["745f9cea.0b2cb4"]]},{"id":"a9ab5b67.296ce8","type":"ui_text_input","z":"cd8ac7d8.b244a8","name":"","label":"Agent Range","group":"46a46484.6e799c","order":3,"width":"10","height":"1","passthru":false,"mode":"text","delay":"0","topic":"","x":110,"y":100,"wires":[["a66999c1.4963b8"]]},{"id":"745f9cea.0b2cb4","type":"debug","z":"cd8ac7d8.b244a8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":100,"wires":[]},{"id":"81d4ea75.207df8","type":"comment","z":"cd8ac7d8.b244a8","name":"Set Agent Range","info":"","x":120,"y":60,"wires":[]},{"id":"75bb6359.1e09dc","type":"function","z":"cd8ac7d8.b244a8","name":"Set Server URL","func":"flow.set(\"stopped\", true);\nvar m = {};\nm.payload = {};\nm.payload.url = msg.payload;\nm.reset = true;\nreturn m;","outputs":1,"noerr":0,"x":500,"y":220,"wires":[["6d74fd70.85c2e4","70a56d1f.cd94a4","6402134f.00b0bc"]]},{"id":"2841ea0a.1d03f6","type":"ui_text_input","z":"cd8ac7d8.b244a8","name":"","label":"Server URL (default \"http://localhost:8080\")","group":"46a46484.6e799c","order":1,"width":"10","height":"1","passthru":false,"mode":"text","delay":"0","topic":"","x":210,"y":220,"wires":[["75bb6359.1e09dc"]]},{"id":"6d74fd70.85c2e4","type":"debug","z":"cd8ac7d8.b244a8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":160,"wires":[]},{"id":"6d26eda7.c9ca94","type":"comment","z":"cd8ac7d8.b244a8","name":"Set Server URL","info":"","x":120,"y":180,"wires":[]},{"id":"9405cf28.28ab5","type":"ui_button","z":"cd8ac7d8.b244a8","name":"","group":"46a46484.6e799c","order":2,"width":"10","height":"1","passthru":false,"label":"Start Graphing","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","x":120,"y":380,"wires":[["5cdf23f9.7e900c"]]},{"id":"70953ea8.4e78","type":"comment","z":"cd8ac7d8.b244a8","name":"Start/Stop Graphing","info":"","x":130,"y":300,"wires":[]},{"id":"18e5b220.5aa67e","type":"ui_button","z":"cd8ac7d8.b244a8","name":"","group":"46a46484.6e799c","order":4,"width":"10","height":"1","passthru":false,"label":"Stop Graphing","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"","x":120,"y":340,"wires":[["aa1b449c.e5e3e8"]]},{"id":"aa1b449c.e5e3e8","type":"function","z":"cd8ac7d8.b244a8","name":"Reset Chart","func":"flow.set(\"stopped\", true);\nmsg.reset = true;\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":340,"wires":[["6402134f.00b0bc"]]},{"id":"46a46484.6e799c","type":"ui_group","z":"","name":"MIMIC Agent Statistics","tab":"3589bc38.e57cd4","order":1,"disp":true,"width":"20","collapse":false},{"id":"3589bc38.e57cd4","type":"ui_tab","z":"","name":"MIMIC Agent Statistics","icon":"dashboard","order":3}]
